.preview__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 60px;
  text-align: center;
}

.preview__text {
  margin-bottom: 30px;
  line-height: 120%;
}

.preview__text:last-child {
  margin-bottom: 0;
}
