.section2__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 36px;
}

.section2__text {
  margin-bottom: 30px;
  line-height: 120%;
}

.section2__text:last-child {
  margin-bottom: 0;
}

.section2__text_color_grey {
  margin: 15px 30px;
  color: #5e5e5e;
}

.section2__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.section2__image_margin_none {
  margin-bottom: 0;
}

.section2__img-text {
  margin-bottom: 30px;
  border: 1px solid #000000;
}
